:root {
    --primary-color: #321961;
    --secondary-color: #5530A0;
    --tertary-color: #9460fc33;
    --text-color: #000000;
    --background-color: #F6F3FC;
    --button-color: #FF4500;
}

.skills-section {
    text-align: center;
    max-width: 95%;
    margin: auto;
    padding: 50px 0;
    padding-bottom: 50px;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    margin-top: 150px;
    margin-bottom: 50px;
    max-width: 90%;
    margin: auto;
}

/* Image styles */
.img-size {
    width: 100px;
    height: auto;
    transition: all 0.3s ease-in-out;
}

.skill-card {
    position: relative;
    width: 150px;
    height: 150px;
    background-color: var(--tertary-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.skill-card img {
    width: 100px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.skill-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.skill-card:hover .card__content {
    transform: rotateX(0deg);
    background-color: var(--secondary-color);

}

.card__title {
    margin: 0;
    font-size: 20px;
    color: white;
    font-weight: 700;
}

.skill-card:hover img {
    scale: 0;
}

.skill-card p{
    color: white;
    padding-top: 35px;
}


/* slide the section  */
.slider-wrapper {
    position: relative;
    max-width: 95%;
    margin: auto;
    overflow: hidden;
    padding: 40px 0;
}

.skills-slider {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 20px;
    gap: 30px;
}

.skills-slider::-webkit-scrollbar {
    display: none;
}

.slide-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--primary-color);
    color: white;
    border: none;
    font-size: 2rem;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.slide-button.left {
    left: 0;
}

.slide-button.right {
    right: 0;
}

@media (max-width: 768px) {
    .slide-button {
        width: 40px;
        height: 40px;
        font-size: 1.5rem;
    }
}


@media (max-width: 576px) {
       .skw{
        margin-top: -50px;
       }
}